### ignore
.vscode
dataset/*
dataset/crypting-uploading/EGACryptor/*
local/share/data/metadata/enums/*.json
local/share/data/.snakemake
local/share/snakerule/.snakemake
*.done

### keep
!dataset/crypting-uploading/EGACryptor/.gitkeep
!local/share/data/metadata/enums/*.txt
!local/share/data/metadata/yamlTemplates/*
!dataset/Snakefile
!dataset/conf.sk
!dataset/EGApipeline

