### ignore
.snakemake
.vscode
###-dataset
dataset/*.snakemake

###-local
local/share/data/metadata/enums/*.json
local/share/data/.snakemake
local/share/snakerule/.snakemake
local/src/batch_upload.sh
local/share/snakerule/Snakefile_upload.smk


### keep
# !dataset/crypting-uploading/conf.sk
# !dataset/crypting-uploading/EGACryptor/.gitkeep
!local/share/data/megit@github.com:MaddyPlayer/EGAsubmitter.gittadata/enums/*.txt
!local/share/data/metadata/yamlTemplates/*
!dataset/Snakefile
!dataset/conf.sk


